*{
  margin: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap');


.header-container{
  width: 100vw;
  height: 100vh;
}
.video-contenedor{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  mix-blend-mode:overlay;
  opacity: 0.6;
  
}

.gradient-header{
  margin-bottom: 3px;
  z-index: -4;
  background-image: linear-gradient(to left, #8B89D0, #DD9FD4);
  animation: change 7s ease-in-out infinite;
  position: absolute;
  background-size: 250% 250%;
}

@keyframes change{
  0%{
    background-position: 0 50% ;
  }
  
  50%{
    background-position: 100% 50% ;
  }

  100%{
    background-position: 0% 50% ;
  }
}

.wave{
  position: absolute;
  bottom: -2%;
  height: 23%;
}

.wave-2{
  position: absolute;
  bottom: 2%;
  height: 23%;
  opacity: 0.2;
}

.navbar-container{
  width: 100vw;
  z-index: 1;
  padding-top: 1%;
  position: fixed;
}

.background-scroll{
  background: rgba(73, 73, 73, 0.19);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.27 );
  backdrop-filter: blur( 8.5px );
  -webkit-backdrop-filter: blur( 8.5px );
  height: 6.6%;
  z-index: 10;
  transition:  0.5s all ease-in-out ;
}

.p-relative{
  position: relative;
  top: 0px; left: 0px;
}

.p-absolute{
  position: absolute;
  bottom: 0vh;
}

.z-index-10{
  z-index: -10;
}

.poppins-font{
  font-family: 'Poppins', sans-serif;
}

.flex{
  display: flex;
}

.flex-column{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button{
  width: 130px;
  height: 37px;
  background: #02C6F8;
  border-radius: 50px;
  border: none;
  color: white;
  font-weight: 600;
  z-index: 5;
}

.text-decoration-none{
  text-decoration: none;
  color: white;
}

.social-media-container{
  width: 100vw;
  height: 85px;
  background-color:rgb(30, 26, 56);
  padding: 0px 40px 10px;
  color: white;
  font-weight: 200;
  font-size: 15px;
}

.txt-slogan{
  font-size: 70px;
  line-height: 85px;
  color: white;
  font-weight: 600;
  width: 916px;
  height: 134px;
  text-align: center;
  text-shadow: 1.5px 1.5px 3px rgb(91, 5, 99,0.1);
}

.span-slogan{
  font-weight: 800;
}

.navbar{
  list-style-type: none;
}

.navbar-options{
  margin-left: 70px;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
}

.color-white{
  color: white;
}

.select{
  background: none;
  border: none;
  margin-bottom: 4px;
}

.size-18px{
  font-size: 18px;
}

.navbar-options:hover{
  cursor: pointer;
  color: #02C6F8;
}

.button:hover{
  cursor: pointer;
  background-color: white;
  color: #221E3F;
}

a:hover{
  color: #221E3F;
}

.justify-content-around{
  justify-content:space-around;
}

.justify-content-evenly{
  justify-content:space-evenly;
}

.justify-content-btw{
  justify-content:space-between;
}

.black{
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to top , rgba(31, 2, 31, 0.8), rgba(21, 2, 36, 0.3),rgba(0, 0, 0, 0.1), rgba(21, 2, 36, 0.1), rgba(21, 2, 36, 0.1), rgba(21, 2, 36, 0.2), rgba(21, 2, 36, 0.3),rgba(0, 0, 0, 0.4)) ;
  position:absolute;
  bottom: 0;
  z-index: 3;
}

.margin-top-150{
  margin-top: 150px;
}

.margin-top-320{
  margin-top: 520px;
}

.margin-bottom-100{
  margin-bottom: 150px;
}


html{
  scroll-behavior: smooth;
}

#about-us{
  padding: 230px 0px 0px;
  position: relative;
  top: -250px;}

#services-desktop{
  padding: 150px 0px ;
  position: relative;
  top:-403px;
  height:1799px;
  z-index: -100;
}

#contact{
  padding: 150px 0px ;
  position: relative;
  top:-403px;
  height:720px;
}

.wave-contact{
  position: relative;
  bottom: -3%;
}

.about-us-container{
  width: 100vw;
  height: 120%;
  padding: 100px 0 150px ;
  background-color:#221E3F;
  
}

.about-us-paragraph{
  width: 764px;
  height: 466px;
  font-size: 16px;
  line-height: 35px;
}

.title-section {
  font-size: 50px;
  line-height: 42px;
  font-weight: 600;
}

.color-white{
  color: white;
}

.card-services-container{
  width: 349px;
  background-image: linear-gradient(to top, #6960C5,#6960C5,#6960c5, #B671CF );
  border-radius: 26px;
  padding: 23px;
  margin-top: 25px;
 
}
.services-desktop-container{
  width: 100vw;
  height: 144%;
  background-color:#221E3F;
  padding: 70px 0 ;
}

.title-card{
  font-weight: 600;
  font-size: 25px;
  line-height: 28px;
  color: #FFFFFF;
  margin-top:36px ;
  text-align: center;
}

.paragraph-card{
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color:white;
  margin-top:23px ;
  text-align: center;
}

.icon-card{
  margin-top: 10px ;
  height:125px;
}

.margin-top-15{
  margin-top: 15px;
}

.service-container{
  width: 100vw;
  justify-content: center;
}

.margin-right-24px{
  margin-right: 24px;
  align-self: flex-start;
}

.margin-bottom-55{
  margin-bottom: 55px;
}

.margin-bottom-15{
  margin-bottom: 25px;
}

.margin-left-15{
  margin-left: 15px;
}

.contact-us-container{
  width: 100vw;
  height: 735px;
  padding:44px 0 100px;
}

.background-contact-us{
  background: #6239F5;
}

.input-container{
  width: 614px;
  height: 100%;
  flex-direction: column;
}

.input-mail{
  background:none;
  border: none;
  outline: none;
  border-bottom: 1px solid #00BDF9;
  margin-bottom: 20px;
  margin-left: 30px;
  color: rgba(255, 255, 255);
}

.input-a-size{
  width: 303px;
  height: 42px;
}

.input-b-size{
  width: 635px;
  height: 42px;
}

.input-message{
  width: 635px;
  height: 251px;
  border: 1px solid #00BDF9;
  background:none;
  border-radius: 25px;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-top: 40px;
  text-align: center;
  color: white;
  padding: 20px;
}

.justify-content-center{
  justify-content: center;
}

.align-items-center{
  align-items: center;
}

.btn-countries {
  font-weight: 500;
  font-size: 25px;
  background: none;
  border: none;
  display: inline;
}

.btn-countries:hover{
  cursor: pointer;
  color: #00BDF9;
}

.btn-countries:focus{
  cursor: pointer;
  color: white;
  border-bottom: 5px solid #00BDF9;
}

.align-items-end{
  align-items: flex-end;
}

.address-text{
  font-size: 18px;
  font-weight: 400;
  color: white;
  margin-left: 10px;
}

.icon-address{
  width: 20px;
  height: 20px;
}

input::placeholder {
  color:white;
}

.input-message::placeholder {
  color:white;
}

@media (max-width: 450px) {

  .header-container{
    width: 100vw;
    height: 100vh;
  }

  .video-mobile{
  position: relative;
  left:0%;
  }

  .video-contenedor{
    width: 100vw;
    height:100vh;
    overflow: hidden;
  }

  .video{
    width: 100%;
    height: 100%;
  }

  .wave{
    position: absolute;
    bottom: 20px;
    height: 29%;
  }


  .btn-menu{
    background: none;
    border: none;
    position: absolute;
    left: 85%;
    z-index: 1;
    padding-top: 3px;
  }
  
  .navbar-container{
    justify-content: space-between;
    padding-left: 13px;
    padding-right: 20%;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 7%;
  }

  .option-menu-container{
    position: absolute;
    padding: 20% 0% 23%;
    left: 0px;
    width: 100vw;
    height: 50vh;
    background-color: #221E3F;
    clip-path: circle(80.0% at 50% 0);
    top: -60px;
  }

  #services-mobile{
    height: 3949px;
    padding: 150px 0px 0px;
    position: relative;
    top: -419px;
  }

  #about-us{
    height: 100%;
    padding: 200px 0px 0px;
    position: relative;
    top: -279;
  }

  #contact{
    padding: 150px 0px ;
    position: relative;
    top:-355px;
  }

  .navbar-options{
    cursor: pointer;
    font-weight: 600;
    margin: 0;
    font-size: 17px;
  }
  
  .background-scroll{
    background: rgba(73, 73, 73, 0.19);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.27 );
    backdrop-filter: blur( 8.5px );
    -webkit-backdrop-filter: blur( 8.5px );
    width: 100%;
    height: 7%;
    position: fixed;
    transition:  0.5s all ease-in-out ;
  }

  .flex.navbar.poppins-font{
    padding-right: 10%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
  }

  .txt-slogan{
    font-size: 39px;
    line-height: 49px;
    color: white;
    font-weight: 600;
    width: 320px;
    height: 144px;
    text-align: center;
    margin-bottom: 23px;
  }

  .about-us-container{
    width: 100vw;
    padding-top: 20px;
  }

  .title-section {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
  }

  .about-us-paragraph{
    width: 100vw;
    height: 100%;
    font-size: 15px;
    line-height: 25px;
    color: #434343;
    padding-left: 13px;
    padding-right: 13px;
  }

  .about-us-container.justify-content-evenly{
    flex-direction: column;
    align-items: center;
  }
  
  .p-absolute{
    position: absolute;
    bottom: 10vh;
  }

  .black{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top , rgba(31, 2, 31, 0.8), rgba(21, 2, 36, 0.3),rgba(0, 0, 0, 0.1), rgba(21, 2, 36, 0.1), rgba(21, 2, 36, 0.1), rgba(21, 2, 36, 0.2), rgba(21, 2, 36, 0.3),rgba(0, 0, 0, 0.4)) ;
    position:absolute;
    bottom: 0;
    z-index: 3;
  }

  .input-container{
    width: 100vw;
    height: 100%;
    flex-direction: column;
  }

  .contact-us-container{
    width: 100vw;
    height: 1200px;
  }

  .color-white{
    color: white;
  }

  input::placeholder {
    color:white;
  }

  .input-message::placeholder {
    color:white;
  }

  .input-mail{
    background:none;
    border: none;
    outline: none;
    border-bottom: 1px solid #00BDF9;
    margin-bottom: 20px;
    color: rgba(255, 255, 255);
  }
  
  .input-a-size{
    width: 90vw;
    height: 42px;
  }
  
  .input-b-size{
    width: 90vw;
    height: 42px;
  }
  
  .input-message{
    width: 90vw;
    height: 251px;
    border: 1px solid #00BDF9;
    background:none;
    border-radius: 25px;
    margin-bottom: 20px;
    margin-top: 40px;
    text-align: center;
  }

  .contact-us-container .flex.justify-content-center{
    display: flex;
    flex-direction: column;
  }

  .input-container .flex{
    flex-direction: column;
  }
  .flex.input-container.align-items-end{
    align-items: center;
  }

  .flex .input-mail{
    margin-left: 0px;
    margin-top: 20px;
  }

  .flex .input-message{
    margin-left: 0px;
  }

  .btn-countries {
    font-weight: 500;
    font-size: 15px;
    background: none;
    border: none;
  }

  .address-text{
    font-size: 12px;
    font-weight: 400;
    color: white;
  }

  .icon-address{
    width: 16px;
    height: 16px;
  }

  .address-container{
    margin-top: 20px;
    width: 91vw;
    height: 100px;
    border: 0.5px solid #02C6F8;
    border-radius: 19px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .btn-countries:focus{
    cursor: pointer;
    color: white;
    border-bottom: 2px solid #00BDF9;
  }

  .flex.align-items-center.margin-top-15{
    flex-direction: row;
    padding-left: 13px;
  }

  .btn-countries{
    padding-right:5px;
    font-size: 15.5px;
  }
  .margin-bottom-15{
    margin-bottom: 0px;
  }

  .button{
    width: 109px;
    height: 38px;
    background: #02C6F8;
    border-radius: 50px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 15px;
    z-index: 1;
  }

  .btn-countries-container{
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .card-services-container{
    width: 95vw;
    height: 100%;
    background-image: linear-gradient(to top, #6960C5,#6960C5,#6960c5, #B671CF );
    border-radius: 26px;
  }

  .services-mobile-container{
    width: 100vw;
    background-color:#221E3F;
    padding-bottom: 50%;
  }
  
  .paragraph-card{
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color:white;
    margin-top:23px ;
    text-align: center;
  }

  .btn-show-more{
    background: none;
    border: none;
    color: white;
    margin-top: 13px;
    font-size: 15px;
    font-weight: 700;
  }

  .title-card{
    font-size: 27px;
  }

  .services-totalcard-container{
    flex-direction: column;
  }

  .social-media-container{
    padding: 0px 20px 0px;
    font-size: 12px;
  }

}

@media (min-width: 700px) and (max-width: 1050px){
  .header-container{
    width: 100vw;
    height: 100vh ;
  }

  .btn-menu{
    background: none;
    border: none;
    position: absolute;
    left: 89%;
    z-index: 1;
    padding-top: 3px;
  }

  .navbar-container{
    justify-content: space-between;
    padding-left: 7%;
    padding-right: 15%;
    align-items: center;
    width: 100%;
    height: 7%;
  }

  .background-scroll{
    background: rgba(73, 73, 73, 0.19);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.27 );
    backdrop-filter: blur( 8.5px );
    -webkit-backdrop-filter: blur( 8.5px );
    width: 100%;
    height: 7%;
    position: fixed;
    transition:  0.5s all ease-in-out ;
  }

  #services-mobile{
    height: 2200px;
    position: relative;
    bottom: 270px;
  }

  #about-us{
    padding: 250px 0px 0px;
  }

  #contact{
    padding: 150px 0px ;
  }

  .services-mobile-container{
    width: 100vw;
    background-color:#221E3F;
    padding-bottom: 50%;
  }

  .icon-menu{
    width: 33px;
    height: 33px;
  }

  .option-menu-container{
    position: absolute;
    top: -105px;
    padding: 80px 0px 70px;
    left: 0px;
    width: 100vw;
    height: 50vh;
    background-color: #221E3F;
    clip-path: circle(70.0% at 50% 0);
  }

  .color-white{
    color: white;
  }

  .navbar-options{
    font-size: 26px;
  }

  .flex.navbar.poppins-font{
    padding-right: 10%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
  }

  .txt-slogan{
    font-size: 59px;
    line-height: 69px;
    color: white;
    font-weight: 600;
    width: 560px;
    height: 200px;
    text-align: center;
  }

  .services-totalcard-container{
    width: 100vw;
    flex-wrap: wrap;
    justify-content: center;
  }

  .btn-show-more{
    background: none;
    border: none;
    color: white;
    margin-top: 13px;
    font-weight: 700;
  }

  .btn-menu{
    background: none;
    border: none;
  }

  .card-services-container{
    margin-left: 15px;
    margin-right: 15px;
  }

  .input-container{
    width: 100vw;
    height: 100%;
    flex-direction: column;
  }

  .contact-us-container{
    width: 100vw;
    height: 1050px;
    padding-bottom: 55px;
  }

  .input-mail{
    background:none;
    border: none;
    outline: none;
    border-bottom: 1px solid #00BDF9;
    margin-bottom: 20px;
    color: rgba(255, 255, 255);
    margin-right: 24px;
  }
  
  .input-message{
    width: 639px; 
    height: 251px;
    border: 1px solid #00BDF9;
    background:none;
    border-radius: 25px;
    margin-bottom: 20px;
    margin-top: 40px;
    text-align: center;
    margin-right: 24px;
  }

  .contact-us-container .flex.justify-content-center{
    display: flex;
    flex-direction: column;
  }

  .flex.input-container.align-items-end{
    align-items: center;
  }

  .flex .input-mail{
    margin-left: 0px;
    margin-top: 20px;
  }

  .flex .input-message{
    margin-left: 0px;
  }

  .btn-countries {
    font-weight: 500;
    font-size: 26px;
    background: none;
    border: none;
  }

  .address-text{
    font-size: 16px;
    font-weight: 400;
    color: white;
  }
  .icon-address{
    width: 20px;
    height: 20px;
  }

  .address-container{
    margin-top: 20px;
    width: 650px;
    height: 100px;
    border: 1px solid #02C6F8;
    border-radius: 19px;
    display: flex;
    justify-content: center;
      
  }
  .margin-top-15{
    margin-top: 5px;
  }
  .btn-countries-container{
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .btn-countries:focus{
    cursor: pointer;
    color: white;
    border-bottom: 3px solid #00BDF9;
  }

  .flex.align-items-center.margin-top-15{
    flex-direction: row;
    padding-left: 13px;
  }

  .btn-countries{
   margin-left: 13px;
  }

  .margin-bottom-15{
    margin-bottom: 10px;
  }

  .btn-countries-container{
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .button{
    width: 143px;
    height: 50px;
    background: #02C6F8;
    border-radius: 50px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 19px;
  }

  .about-us-container{
    width: 100vw;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
  }

  .title-section {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 29px;
    text-align: center;
  }

  .about-us-paragraph{
    width: 700px;
    height: 100%;
    font-size: 17px;
    line-height: 23px;
    text-align:center;
  }

}